stages:
  - build
#  - test
#  - deploy

before_script:
  - echo `pwd` # debug
  - echo "$CI_BUILD_NAME, $CI_BUILD_REF_NAME $CI_BUILD_STAGE" # debug
  - export GRADLE_USER_HOME=`pwd`/.gradle

#cache:
#  paths:
#    - .gradle/wrapper
#    - .gradle/caches

build:
  stage: build
  script:
    - ./gradlew installArchives
  artifacts:
    paths:
      - app/build/outputs/*.aar
    expire_in: 1 week
  only:
    - master

#test:
#  stage: test
#  script:
#    - ./gradlew check

#deploy:
#  stage: deploy
#  script:
#    - ./gradlew installArchives

after_script:
  - echo "End CI"